body {
    background-color: darkgoldenrod;
}
.container {
    background-color: azure;
}
/* this the nav area */
nav ul {
    display: flex;
    display: -webkit-flex;
}

nav li {
    list-style-type: none;
    color: burlywood;
}

nav a {
    color: #f55555;
}
/* end of nav area */

footer {
    background-color: bisque;
    color: #f55555;
    text-align: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}
.flex-item {
    margin: 1em;
}
article, aside, footer, header, main, nav, section {
    display: block;
}