body {
    background-color: darkgoldenrod;
}
.container {
    background-color: azure;
}
footer {
    background-color: bisque;
    color: #f55555;
    text-align: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}
.flex-item {
    margin: 1em;
}
article, aside, footer, header, main, nav, section {
    display: block;
}